body {
    font-size: 14px;
    line-height: 21px;
    color: black;
    font-weight: normal;
    font-family: "PT Sans", Arial, sans-serif;
    background: #f2f2f2;
    text-transform: uppercase;
}

h1 {
    font-size: 30px;
    line-height: 26px;
}

h2 {
    font-size: 21px;
    line-height: 26px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.fake-body {
    position: relative;
    margin: 0 auto;
    min-width: 768px;
    max-width: 1200px;
    background: #fff;
    box-shadow: 0 0 15px 5px #e8e8e8;
}

.main-header:after {
    content: "";
    display: table;
    clear: both;
}

.main-navigation {
    font-weight: bold;
    text-align: center;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation li {
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
    width: 20%;
    min-height: 10px;
}

.main-navigation li a {
    display: block;
    line-height: 56px;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

.main-navigation img {
    display: block;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.banner {
    position: relative;
    height: 512px;
    overflow: hidden;
}

.banner:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/banner-mask.png') 0 bottom no-repeat;
    background-size: 100% 57px;
}

.banner-image {
    display: block;
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 76px;
    margin: 0 auto;
}

.intro {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 50px;
}

.intro p {
    margin-top: 30px;
}

.reasons:after {
    content: "";
    display: table;
    clear: both;
}

.reasons:nth-child(even) {
    background: #eee;
}

.secondary-reason {
    width: 33%;
    float: left;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 45px;
}

.secondary-reason p {
    padding: 0 15%;
    color: #333;
}

.secondary-reason:nth-child(2) {
    width: 34%;
}

.primary-reason {
    background: #81b3d2;
    height: 256px;
    overflow: hidden;
}

.primary-reason img {
    width: 66%;
}

.primary-reason-text {
    width: 24%;
    padding: 0 5%;
    text-align: center;
    color: white;
    background: #81b3d2;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.visit {
    text-align: center;
    padding-top: 35px;
}

.visit p {
    margin-top: 30px;
    margin-bottom: 50px;
}

.search-form .form-controls {
    display: none;
}

.search-form .form-toggle-btn {
    min-height: 60px;
    width: 567px;
    padding: 30px 40px;
    background: #766357;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
}

/* Карта. Изображение задано в background, тэг img определяет только размер */
.visit .map {
    background: url('../img/map.png') center center no-repeat;
}
.visit .map img {
    display: block;
    visibility: hidden;
}

.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 120px;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.main-footer p {
    margin: 0;
}

.main-footer a {
    color: #000;
    text-decoration: none;
}

.main-footer:after {
    content: "";
    display: table;
    clear: both;
}

.main-footer .footer-info {
    float: left;
    width: 33%;
    font-size: 21px;
    font-weight: bold;
}

.main-footer .footer-social {
    float: left;
    width: 34%;
}

.main-footer .social-btn {
    display: inline-block;
    font-size: 0;
    line-height: 48px;
    width: 48px;
    vertical-align: middle;
    background: #81b3d2;
    color: #fff;
}

.main-footer .social-btn:before {
    font-size: 19px;
    vertical-align: middle;
}

.main-footer .footer-copyrights {
    float: left;
    width: 33%;
}

.main-footer img {
    vertical-align: middle;
    margin-left: 5px;
}


/* hotels.html */

.hotels-container {
    padding-left: 70px;
    padding-right: 70px;
}

.pagination {
    padding-top: 35px;
    padding-bottom: 35px;
}

.pagination p {
    margin: 5px 0 0 0;
}

.pagination-found {
    margin: 0;
    min-width: 135px;
    font-size: 21px;
}

.pagination-order {
    padding: 0 30px;
}

.pagination-navigator {
}

.items {
    padding-bottom: 120px;
}

.items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.items li {
    border-top: 1px solid #e5e5e5;
}

.items li:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.hotel {
    padding-top: 30px;
    margin-bottom: 30px;
    position: relative;
    min-height: 90px;
}

.hotel h2 {
    margin: 0;
    line-height: 16px;
}

.hotel-image {
    margin: 0;
}

.hotel-image img {
    display: block;
}

.hotel-about {
    padding: 0 30px;
}

.hotel-about p {
    margin-bottom: 39px;
}

.hotel-about p span:first-child {
    display: inline-block;
    min-width: 107px;
}

.hotel-about .hotel-about-actions {
    position: absolute;
    bottom: 0;
    margin: 0;
}

.hotel-rating {
    text-align: right;
    min-width: 120px;
}

.hotel-rating-stars span:before {
    margin: 0;
    color: #81b3d2;
}

.hotel-rating-text {
    position: absolute;
    margin: 0;
    padding: 3px 15px;
    background: #f2f2f2;
    white-space: nowrap;
    bottom: 0;
    right: 0;
    color: #666;
}

.hotel-btn {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 3px 15px;
}

.hotel-btn-more {
    background: #81b3d2;
}

.hotel-btn-book {
    background: #766357;
}

.filters {
    background: url('../img/bg-filters.jpg') no-repeat center;
    background-size: cover;
    color: white;
}

.filters-right {
    min-width: 220px;
    width: 30%;
}

.filters form {
    padding-top: 15px;
    padding-bottom: 15px;
}

.filters-range-group label {
    display: none;
}

.filters-range-output {
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
}

.filters-range-output .output-field:first-child {
    border-left: 2px solid #fff;
    width: 50%;
}

.filters-range-slider {
    margin: 20px 0;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    padding: 0 10px;
}

.filters-range-slider .slider-line {
    position: relative;
    height: 2px;
    background: #fff;
}

.filters-range-slider .slider-btn {
    position: absolute;
    height: 4px;
    width: 4px;
    border: 8px solid #fff;
    border-radius: 50%;
    top: -9px;
    background: #ababab;
    cursor: pointer;
}

.filters-range-slider .slider-btn:first-child {
    left: -10px;
}

.filters-range-slider .slider-btn:last-child {
    right: -10px;
}

.filters [type=submit] {
    margin: 15px auto 0 auto;
    display: block;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 5px 35px;
    text-transform: inherit;
}

.filters-group {
    border: none;
}

.filters-group legend {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
}

.filters-group {
    padding: 0;
    margin: 0;
    margin-left: 110px;
}

.filters-group:first-child {
    margin-left: 0;
}

.filters-group .input {
    padding: 15px 0;
}

@media (max-width: 1000px) {
    .hotels-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
