body {
    font-size: 14px;
    line-height: 21px;
    color: black;
    font-weight: bold;
    font-family: "PTSans Narrow", sans-serif;
}

h1 {
    font-size: 30px;
    line-height: 26px;
}

h2 {
    font-size: 21px;
    line-height: 26px;
}
